<html>

<head>
<link rel="stylesheet" href="/static/skeleton.css">
<link rel="stylesheet" href="/static/normalize.css">
<link rel="stylesheet" href="/static/common.css">
<title></title>
</head>

<body>
<h2> <img onClick="window.location.reload()" src="/static/refresh-icon.png" width="32" height="32"> 
Список виртуальных устройств от {{uptime}} </h2>

<table>
    <tbody>
    <tr>
        <td>Название устройства</td>
        <td>Количество сообщений к отправке</td>
        <td>Периодичность, мс</td>
        <td>Последнее отправленное сообщение</td>
    </tr>
    {% for key, value in rows.items() %}
    <tr>
        <td>{{key}}</td>
        <td>{{value.iterations}}</td>
        <td>{{value.period}}</td>
        <td>{{value.message}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>

</html>



